alembic==1.15.2
annotated-types==0.7.0
ansi2html==1.9.2
anyio==4.9.0
aplr==10.9.0
asttokens==3.0.0
attrs==25.3.0
blinker==1.9.0
cachetools==5.5.2
category_encoders==2.7.0
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
cloudpickle==3.1.1
colorama==0.4.6
colour==0.1.5
comm==0.2.2
contourpy==1.3.1
cycler==0.12.1
Cython==3.0.12
dacite==1.9.2
dash==2.18.2
dash-core-components==2.0.0
dash-cytoscape==1.0.2
dash-html-components==2.0.0
dash-table==5.0.0
databricks-sdk==0.50.0
debugpy==1.8.12
decorator==5.1.1
Deprecated==1.2.18
deprecation==2.1.0
dill==0.4.0
docker==7.1.0
executing==2.2.0
fastapi==0.115.12
fastjsonschema==2.21.1
Flask==3.0.3
fonttools==4.56.0
future==1.0.0
gevent==25.4.2
gitdb==4.0.12
GitPython==3.1.44
google-auth==2.39.0
graphene==3.4.3
graphql-core==3.2.6
graphql-relay==3.2.0
graphviz==0.20.3
greenlet==3.2.1
h11==0.16.0
htmlmin==0.1.12
hyperopt==0.2.7
idna==3.10
imbalanced-learn==0.13.0
importlib_metadata==8.6.1
iniconfig==2.1.0
interpret==0.6.10
interpret-core==0.6.9
interpret_community==0.32.0
ipykernel==6.29.5
ipython==8.32.0
ipywidgets==8.1.6
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.3.2
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_widgets==3.0.14
kaleido==0.2.1
kiwisolver==1.4.8
lazypredict==0.2.16
lightgbm==4.6.0
llvmlite==0.44.0
Mako==1.3.10
Markdown==3.8
MarkupSafe==3.0.2
matplotlib==3.10.1
matplotlib-inline==0.1.7
mkl-service==2.4.0
mkl_fft @ file:///C:/Users/dev-admin/mkl/mkl_fft_1730823082242/work
mkl_random @ file:///C:/Users/dev-admin/mkl/mkl_random_1730822522280/work
ml_wrappers==0.6.0
mlflow==2.22.0
mlflow-skinny==2.22.0
multimethod==1.12
multiprocess==0.70.18
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.4.2
numba==0.61.0
numpy==1.26.4
opentelemetry-api==1.32.1
opentelemetry-sdk==1.32.1
opentelemetry-semantic-conventions==0.53b1
orjson==3.10.18
oyaml==1.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1733203243479/work
pandas==2.1.4
parso==0.8.4
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1733792384640/work
pillow==11.1.0
platformdirs==4.3.6
plotly==5.24.1
plotly-resampler==0.10.0
pluggy==1.5.0
pmdarima==2.0.4
prompt_toolkit==3.0.50
protobuf==6.30.2
psutil==6.1.1
pure_eval==0.2.3
puremagic==1.29
py4j==0.10.9.9
pyaml @ file:///home/conda/feedstock_root/build_artifacts/pyaml_1735833617037/work
pyarrow==19.0.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycaret==3.3.2
pycparser==2.22
pydantic==2.11.3
pydantic_core==2.33.1
Pygments==2.19.1
pyod==2.0.5
pyparsing==3.2.1
pytest==8.3.5
pytest-runner==6.0.1
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1733215673016/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1706886791323/work
PyWavelets==1.8.0
pywin32==308
PyYAML==6.0.2
pyzmq==26.2.1
raiutils==0.4.2
referencing==0.36.2
requests==2.32.3
retrying==1.3.4
rpds-py==0.24.0
rsa==4.9.1
SALib==1.5.1
schemdraw==0.15
scikit-base==0.7.8
scikit-learn==1.4.2
scikit-optimize @ file:///home/conda/feedstock_root/build_artifacts/scikit-optimize_1717589676915/work
scikit-plot==0.3.7
scipy==1.11.4
seaborn==0.13.2
shap==0.46.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1733380938961/work
sklearn-compat==0.1.3
sktime==0.26.0
slicer==0.0.8
smmap==5.0.2
sniffio==1.3.1
SQLAlchemy==2.0.40
sqlparse==0.5.3
stack-data==0.6.3
starlette==0.46.2
statsmodels @ file:///D:/bld/statsmodels_1727986858709/work
tbats==1.1.3
tenacity==9.1.2
threadpoolctl @ file:///C:/b/abs_def0dwqlft/croot/threadpoolctl_1719407816649/work
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
tsdownsample==0.1.4.1
typeguard==4.4.2
typing-inspection==0.4.0
typing_extensions==4.12.2
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1737541069190/work
urllib3==2.4.0
uvicorn==0.34.2
waitress==3.0.2
wcwidth==0.2.13
Werkzeug==3.0.6
widgetsnbextension==4.0.14
wrapt==1.17.2
WTForms==3.2.1
xgboost==3.0.0
xxhash==3.5.0
yellowbrick==1.5
zipp==3.21.0
zope.event==5.0
zope.interface==7.2
